@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

ul {
    list-style: inherit !important;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
    @apply text-black;
}

input {
    @apply text-gray;
}

@layer base {
    :root {
        --overlay-color: 0, 0%, 2.75%, 0.36; /* rgba(7 7 7 0.36) */
        --primary: 247.7, 87.53%, 56.08%; /* rgb(74 44 242) */
        --primary-text: 247.7, 87.53%, 56.08%; /* rgb(74 44 242) */
        --bright-turquoise: 189.23, 78.44%, 48.24%; /* rgb(25 194 221) */
        --ultramarine-blue: 222.86, 96.02%, 59.61%; /* rgb(53 91 251) */
        --light-cyan: 190.98, 74.14%, 89.41%; /* rgb(209 243 248) */
        --lavender-blue: 231.43, 70.11%, 91.76%; /* rgb(215 222 254) */
        --peach-pink: 19.51, 88.89%, 85.49%; /* rgb(251 205 186) */
        --red: 1.57, 98.02%, 54.31%; /* rgb(252 33 25) */
        --red-orange: 17.14, 97.59%, 54.31%; /* rgb(252 93 25) */
        --bright-gray: 0, 0%, 67.84%; /* #adadad */
        --black: 0, 0%, 0%; /* #000000 */
        --border: 0, 0%, 85.49%; /* #dadada */
        --sky-blue: 190.59, 100%, 77.26%; /* #8af0ff */
        --bright-cyan: 190.39, 83.43%, 54.12%; /* #27d3ed */
        --light-apricot: 35.29, 100%, 74.71%; /* #ffc47e */
        --vivid-orange: 32.4, 100%, 64.51%; /* #ffab49 */
        --pastel-violet: 259.05, 100%, 79.22%; /* #b195ff */
        --vivid-violet: 260.11, 100%, 63.14%; /* #7442ff */
        --rich-black: 249.23, 68.18%, 4.31%; /* #050313 */
        --gray: 0, 0%, 30.2%; /* #4d4d4d */
        --light-gray: 0, 0%, 94.51%; /* #f1f1f1 */
        --lavender-mist: 231.43, 62.5%, 95.49%; /* #ebeefc */
        --solid-vivid-orange: 17.97, 97.42%, 54.31%; /* #fc5d19 */
        --solid-sunset-gold: 42.4, 85.29%, 62.35%; /* #f2c94c */
        --solid-royal-purple: 261.94, 84.38%, 47.06%; /* #6a13dd */
        --solid-sky-blue: 190.47, 79.83%, 48.24%; /* #19c1dd */
        --solid-hot-pink: 332.58, 82.71%, 65.1%; /* #ef5da8 */
        --solid-saffron-orange: 28.05, 85.18%, 61.96%; /* #f2994a */
        --white: 0, 0%, 100%; /* #fff */
    }

    .dark {
        --overlay-color: 0, 0%, 3.14%, 0.66; /* rgba(8, 8, 8, 0.66) */
        --primary: 248.89, 84.72%, 56.08%; /* rgb(74 44 242) */
        --primary-text: 249.6, 83.05%, 96.47%; /* rgb(242, 239, 254) */
        --bright-turquoise: 189.2, 78.44%, 48.24%; /* rgb(25, 194, 221) */
        --ultramarine-blue: 222.86, 96.02%, 59.61%; /* rgb(53, 91, 251) */
        --light-cyan: 189.39, 8.55%, 20.2%; /* rgb(47, 55, 56) */
        --lavender-blue: 231.43, 70.11%, 91.76%; /* rgb(215, 222, 254) */
        --peach-pink: 19.51, 88.89%, 85.49%; /* rgb(251, 205, 186) */
        --red: 1.92, 82.93%, 38.63%; /* rgb(179, 24, 18) */
        --red-orange: 17.93, 81.36%, 37.06%; /* rgb(172, 63, 17) */
        --bright-gray: 0, 0%, 68.63%; /* rgb(175, 175, 175) */
        --black: 0, 0%, 100%; /* rgb(255, 255, 255) */
        --border: 0, 0%, 16.86%; /* rgb(43, 43, 43) */
        --sky-blue: 190.59, 100%, 77.26%; /* rgb(138, 240, 255) */
        --bright-cyan: 190.39, 83.43%, 54.12%; /* rgb(39, 211, 237) */
        --light-apricot: 35.29, 100%, 74.71%; /* rgb(255, 196, 126) */
        --vivid-orange: 32.4, 100%, 64.51%; /* rgb(255, 171, 73) */
        --pastel-violet: 259.05, 100%, 79.22%; /* rgb(177, 149, 255) */
        --vivid-violet: 259.2, 100%, 63.14%; /* rgb(116, 66, 255) */
        --rich-black: 249.23, 68.18%, 4.31%; /* rgb(5, 3, 19) */
        --gray: 0, 0%, 70.59%; /* rgb(180, 180, 180) */
        --light-gray: 0, 0%, 7.84%; /* rgb(20, 20, 20) */
        --lavender-mist: 240, 14.29%, 16.47%; /* rgb(36, 36, 48) */
        --solid-vivid-orange: 17.97, 97.42%, 54.31%; /* rgb(252, 93, 25) */
        --solid-sunset-gold: 42.4, 85.29%, 62.35%; /* rgb(242, 201, 76) */
        --solid-royal-purple: 261.94, 84.38%, 47.06%; /* rgb(106, 19, 221) */
        --solid-sky-blue: 190.47, 79.83%, 48.24%; /* rgb(25, 193, 221) */
        --solid-hot-pink: 332.58, 82.71%, 65.1%; /* rgb(239, 93, 168) */
        --solid-saffron-orange: 28.05, 85.18%, 61.96%; /* rgb(242, 153, 74) */
        --white: 0, 0%, 0%; /* rgb(0, 0, 0) */
    }
}

.main-layout::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.main-layout::-webkit-scrollbar-track {
    background: var(--white);
    border: 1px solid var(--white);
}

/* Handle */
.main-layout::-webkit-scrollbar-thumb {
    background: var(--lavender-mist);
    width: 8px;
    border-radius: 6px;
}

/* Handle on hover */
.main-layout::-webkit-scrollbar-thumb:hover {
    background: var(--pastel-violet);
}

.primary-btn {
    @apply flex items-center gap-2 rounded-md bg-primary px-4 py-2 text-sm font-medium text-[#fff] sm:text-base;
}

.page-title {
    @apply text-[1.2rem] font-semibold text-black lg:text-[1.5rem];
}

.page-subtitle {
    @apply text-sm text-gray lg:text-base;
}

.mdxeditor-root-contenteditable {
    @apply min-h-40;
    padding: 0px 10px !important;
}

.markdown-editor h1 {
    font-size: 2rem !important;
}

.markdown-editor h2 {
    font-size: 1.5rem !important;
}

.markdown-editor h3 {
    font-size: 1.17rem !important;
}

.markdown-editor h4 {
    font-size: 1rem !important;
}

.markdown-editor h5 {
    font-size: 0.83rem !important;
}

.markdown-editor h6 {
    font-size: 0.67rem !important;
}

.markdown-editor p {
    font-size: 1rem !important;
}

.markdown-editor li {
    font-size: 1rem !important;
}

.markdown-editor blockquote {
    font-size: 1.25rem !important;
}

.markdown-editor pre,
.markdown-editor code {
    font-size: 0.875rem !important;
}

.markdown-editor small {
    font-size: 0.8rem !important;
}

.markdown-editor .mdxeditor-toolbar {
    padding: 0px;
    /* background-color: transparent !important; */
}

._selectTrigger_uazmk_307 {
    @apply bg-background !important;
    /* background-color: var(--background) !important; */
}

.mdxeditor-root-contenteditable ul {
    padding: 0 30px !important;
}

.mdxeditor-popup-container {
    position: fixed !important;
}

.large-modal {
    @apply w-[90vw] sm:max-w-[80vw] md:max-w-[70vw] xl:max-w-[60vw] 2xl:max-w-[50vw];
}

.medium-modal {
    @apply w-[90vw] sm:max-w-[70vw] md:max-w-[60vw] xl:max-w-[50vw] 2xl:max-w-[40vw];
}

/* ======= scrollbar ======== */

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--white));
    border: 1px solid hsl(var(--white));
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--lavender-mist));
    width: 8px;
    border-radius: 6px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--pastel-violet));
}
