@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
  --primary: #4a2bf1;
  --bright-turquoise: #19c2dd;
  --ultramarine-blue: #355bfb;
  --light-cyan: #d1f3f8;
  --lavender-blue: #d7defe;
  --peach-pink: #fbcdba;
  --red-orange: #fc5d19;
  --dim-gray: #6a6a6a;
  --black: #000000;
  --sky-blue: #8af0ff;
  --bright-cyan: #27d3ed;
  --light-apricot: #ffc47e;
  --vivid-orange: #ffab49;
  --pastel-violet: #b195ff;
  --vivid-violet: #7442ff;
  --rich-black: #050313;
  --gray: #4d4d4d;
  --light-gray: #e5e5e5;
  --lavender-mist: #eae8f3;
  --solid-vivid-orange: #fc5d19;
  --solid-sunset-gold: #f2c94c;
  --solid-royal-purple: #6a13dd;
  --solid-sky-blue: #19c1dd;
  --solid-hot-pink: #ef5da8;
  --solid-saffron-orange: #f2994a;
  --white: #fff;
  }
  .dark {
  --primary: #2e0fdd;
  --bright-turquoise: #19c2dd;
  --ultramarine-blue: #355bfb;
  --light-cyan: #d1f3f8;
  --lavender-blue: #d7defe;
  --peach-pink: #fbcdba;
  --red-orange: #fc5d19;
  --dim-gray: #6a6a6a;
  --black: #ffffff;
  --sky-blue: #8af0ff;
  --bright-cyan: #27d3ed;
  --light-apricot: #ffc47e;
  --vivid-orange: #ffab49;
  --pastel-violet: #b195ff;
  --vivid-violet: #7442ff;
  --rich-black: #050313;
  --gray: #b4b4b4;
  --light-gray: #3a3a3a;
  --lavender-mist: #eae8f3;
  --solid-vivid-orange: #fc5d19;
  --solid-sunset-gold: #f2c94c;
  --solid-royal-purple: #6a13dd;
  --solid-sky-blue: #19c1dd;
  --solid-hot-pink: #ef5da8;
  --solid-saffron-orange: #f2994a;
  --white: #000000;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
